---
---

@font-face {
    font-family: "Source Han Serif KR VF";
    src: url("/assets/SourceHanSerif/SourceHanSerifKR-VF.ttf.woff2") format(woff2) tech(variations);
    font-weight: 1 999;
}

$base-font-family: "Lora", "Source Han Serif KR VF", serif;
$base-font-size:   21px;

@import "minima";
@import url("https://fonts.googleapis.com/css2?family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

html {
    scrollbar-gutter: stable;
}

h1, h2, h3 {
    font-weight: 500;
}

.post-title {
    line-height: 1.1;

    span:lang("ko") {
        font-size: 0.9em;
    }
}

a, a:visited {
    color: inherit !important;
    transition: color 0.1s;
    
    &:hover {
        text-decoration: none;
        color: #777 !important;
    }

    article &:not(.footnote-ref):not(.footnote-back) {
        text-decoration: wavy underline;
    }
}

code {
    font-family: inherit !important;
    font-size: inherit !important;
    color: inherit !important;
    font-style: italic !important;
    border: none !important;
    background-color: transparent !important;
    padding: 0 !important;
}

mark {
    background-color: transparent !important; /* remove highlight background */
    padding: 0 !important;

    &:lang("en") {
        font-variant: small-caps !important; /* force small-caps */
        text-transform: lowercase !important;
    }

    &:lang("ko") {
        text-decoration: underline !important;
        text-underline-offset: 0.2em;
    }
}

blockquote {
    color: inherit;
    font-style: inherit;
    font-size: inherit;
    border: none;
    letter-spacing: inherit;
    padding-left: 32px;
}

hr {
    border: none;

    &::before {
        content: "⁂";
        display: block;
        text-align: center;
        margin-bottom: 15px;
        font-size: 1.25em;
    }
}

.tone {
    position: relative;
    
    .tone-mark {
        width: 0;
        opacity: 0;
        display: inline-block;
    }

    &::before {
        position: absolute;
        right: 0;
        bottom: 0.6em;
        width: 0.95em;
        text-align: center;
    }

    &[data-tone="1"]::before {
        content: "·";
    }

    &[data-tone="2"]::before {
        content: "· ·";
    }
}

.autocol {
    column-count: 1;

    @media (min-width: 700px) {
        column-count: 2;
    }
}

.post-meta > *:not(:last-child)::after {
    content: " • ";
    pointer-events: none;
}

.post-content {
    position: relative;
}

.sidenote {
    position: absolute;
    width: 300px;
    font-size: 0.8em;
    transition: font-weight 0.1s, transform 0.1s;

    &.left {
        right: 100%;
        margin-right: 15px;
    }
    
    &.right {
        left: 100%;
        margin-left: 15px;
    }
    
    &.highlight {
        font-weight: 600;
        transform: translateY(-10px);
    }
}

.footnote-ref {
    color: #828282 !important;

    &:hover {
        color: #bbb !important;
    }

    sup::before {
        content: "[";
    }

    sup::after {
        content: "]";
    }
}

.references {
    margin-bottom: 15px;

    & > p {
        margin: 0;
        padding-left: 3em;
        text-indent: -3em;
    }
}